:root {
  font-size: 16px;
}
.blue {
  background: hsl(207, 44%, 49%);
}
.flex {
  display: flex;
}
.flex-center {
  justify-content: center;
  align-items: center;
}
.foot {
  grid-column: span 5;
  background: hsl(215, 98%, 17%);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items:center;
  align-items: center;
}
.green {
  background: hsl(146, 50%, 36%);
}
.grid {
  background: #708090;
  height: 100vh;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}
.red {
 background: hsl(9, 100%, 64%);
}
.text-md {
  font-size: 2rem;
}

#btn-3 {
  grid-column: 3;
}
#btn-5 {
  grid-column: 5;
}